

/*GLOBAL STYLES*/

a {
  color: #f00;
}

/*SOCIAL STYLES*/
.social-link {
  background: rgba(150, 150, 150, 0.5);
   color: blue;
    }


/*BIO STYLES*/
div.bio-box {
  border: 1px solid green;
}

.bio-copy a {
  color:  green;
}
